.fusion {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 100px 0;
}

.fusion .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fusion__title {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.fusion__text {
    max-width: 964px;
    margin-bottom: 140px;
    font-size: 16px;
    text-align: center;
    line-height: 1.6;
}

.fusion__grid {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.fusion__item {
    padding: 20px;
    border-radius: 8px;
    text-align: left;
    max-width: 309px;
    width: 100%;
    transition: all 0.3s ease;
}

.fusion__item:hover {
    box-shadow: 4px 4px 20px rgba(250, 229, 0, 0.1);
    transform: scale(1.05);
    margin: 0 calc(20px * 1.5);
}

/* Точки */
.fusion__dots {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: gray;
    border-radius: 50%;
    margin: 0 5px;
    transition: transform 0.3s ease, background-color 0.3s ease, margin 0.3s ease;
}

.dot.active {
    transform: scale(1.5);
    background-color: orange;
    margin: 0 calc(10px * 1.5);
}
